project:
  type: website
  render:
    - "*.qmd"

website:
  title: "Jason H. Nicholson"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true

engines: ['julia']

